*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
  user-select: none;
}

a {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  transform-style: preserve-3d;
  perspective: 900px;
  background-image: url('assets/bg.jpeg');
  background-size: cover;
  background-color: #fff;
}

.book {
  width: 383px;
  height: 567px;
  position: relative;
  box-shadow: 20px 20px 20px #0002;
  transform-style: preserve-3d;
  perspective: 10000px;
  zoom: 0.7;
  transition: transform 0.5s ease, box-shadow 0.5s ease;

  @media (width <= 1111px) {
    zoom: 0.5;
  }

  &:hover {
    transform: rotateY(35deg);
    box-shadow: 0px 20px 20px #0002;
  }
  &:active {
    transform: rotateY(140deg);
    box-shadow: 0px 20px 20px #0002;
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .front {
    width: 100%;
    height: 100%;
    transform: translateZ(-1px);
  }

  .side {
    width: 48px;
    height: 100%;
    transform-origin: left;
    transform: rotateY(90deg);
  }

  .back {
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform: translateZ(-47px) rotateY(180deg);
  }
}
